@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster');


*{
	box-sizing:border-box;

	}
body {
background-color: #ffb366;
font-family: 'Libre Baskerville', serif;


}

h2 {
	background-color: pink;
	margin:10px 0;  
	padding: 10px;
	color: #FF530D
	font-family: 'Lobster', cursive;
	
}

nav ul{
	padding:20px;
	overflow: auto; /*make it account for its floating children*/
	background-color:pink;
    list-style: none; /*this takes th ebullet points off the list in a */

}

nav li{
	float: left; 
	text-align: center;
	width:33.33% ; /*The distance between the nav tabs */
	/*border: 2px solid teal*/;

 }

nav a {
color: #FF530D;
text-decoration: none; /*gets rid of underline in nav*/
font-size: 20px; /*changes size in nav*/
transition: .5s; /*determines how long it will take for the hover cover to appear*/
}

nav a:hover  {
color: #E80C7A;

}

.header {
	padding:350px 200px;
background-image: url("../images/style1.jpg");
background-size:cover; /*allows the image to not repeat and fill scree*/n
background-position: center; 
color:#ffffcc;
text-align: center;

}
.main-content {
	background-color: #fff;
	padding: 40px;
	margin: 25px;

}

.img-50 {
width:50%;
display: block;
margin:10px auto; /*puts automatic margins on the left and right hand side of elements*/

}

/*These are Utility Classes*/
/*_______________________________________________________________________________________*/

.center-text {
	text-align: center;

}